@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
body  {
  background-image: url('https://media.freestocktextures.com/cache/3e/27/3e273be3fee67acdb78e3f305ac1b8d8.jpg');
}

.main-page {
  display: grid;
  justify-content: center;
  text-align: center;
}
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin-bottom: 4em;
}
.banner {
  background-color: white;
  position: relative;
  padding-bottom: 2em;
  max-width: 500px;
  margin: auto;
  text-align: center;
  border-style: dotted;
  border-color: red;
  border-width: 3px;
  margin-bottom: 4em;
}
.hello {
  color: #FF69B4;
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 3em;
  background-color: white;
  text-align: center;
}
.banner img {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
}
.banner button {
  font-size: 16px;
  margin: 4px;
  padding: 2px 2px 2px 2px;
}
.return-user {
  font-size: 20px;
  background-color: white;
  max-width: 100%;
  max-height: 100px;
  position: center;
  text-align: center
}

.new-user-form {
  background-color: white;
}

.button-container {
  border-style: dotted;
  border-color: pink;
  border-width: 3px;
  margin-bottom: 4em;
}
.searchSpace {
  position: relative;
  text-align: center;
  padding-bottom: 4em;
  background-color: white;
  border-style: dotted;
  border-color: green;
  border-width: 3px;
  margin-bottom: 4em;
}
.searchSpace h4 {
  font-size: 20px
}
.searchSpace input {
  font-size: 20px;
  margin: 1em;
}
.listSpace {
  background-color: white;
  position: relative;
  border-style: dotted;
  border-color: blue;
  border-width: 3px;
  margin-bottom: 4em;
}
.listSpace input, h4, select {
  position: relative;
  text-align: center;
  font-size: 16px;
}
.availableSpace {

  text-align: center;
  background-color: white;
  border-style: dotted;
  border-color: brown;
  border-width: 3px;
  margin-bottom: 4em;
}

.displayListing th {
  text-align: center;
  border-bottom: 2px solid black;
}

.displayListing img {
  position: relative;
  float: left;
  width:  175px;
  height: 175px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.return-user {
 ;

}
